name: C++ Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install OpenGL dependencies
      run: |
        sudo apt update
        sudo apt install -y libgl1-mesa-dev libglu1-mesa-dev freeglut3-dev mesa-common-dev

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Release

